<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Erica+One|Londrina+Solid|Modak&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1469ef8650.js"></script>
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>